In [1]:
def myfunc(text):
    word = text.split();
    return word[0][0] == word[1][0]

In [2]:
myfunc('Lovely Lion')

True

In [3]:
myfunc('Lovely lion')

False

In [4]:
def myfunc(n1,n2):
    return ((n1+n2) == 20) or n1 == 20 or n2 == 20

In [5]:
myfunc(5,15)

True

In [6]:
myfunc(30,40)

False

In [7]:
def old_macdonald(text):
    first_letter = text[0]
    inbetween = text[1:3]
    fourth_letter = text[3]
    rest = text[4:]
    
    return first_letter.upper() + inbetween + fourth_letter.upper() + rest

In [8]:
old_macdonald('macdonald')

'MacDonald'

In [15]:
def old_macdonald(text):
    first_half = text[:3]
    second_half = text[3:]
    
    return first_half.capitalize() + second_half.capitalize()

In [16]:
old_macdonald('macdonald')

'MacDonald'

In [19]:
def master_yoda(word):
    word_list = word.split()
    reversed_word_list = word_list[::-1]
    
    return ' '.join(reversed_word_list)

In [20]:
master_yoda('I am Home')

'Home am I'

In [6]:
def has_33(nums):
    
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
       
    return False

In [7]:
has_33([1,3,3,1])

True

In [8]:
has_33([1,3,1,3])

False

In [10]:
def has_new_33(nums):
    
    for i in range(0,len(nums)-1):
        if nums[i:i+2] == [3,3] :
            return True
       
    return False

In [11]:
has_new_33([1,3,3,1])

True

In [12]:
has_new_33([2,3,2,4])

False

In [15]:
def paper_doll(text):
    result = ''
    
    for char in text :
        result += char * 3
        
    return result

In [16]:
paper_doll('Hello')

'HHHeeellllllooo'

In [17]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [23]:
def Blackjack(num1,num2,num3):
    
    sum = num1+num2+num3
    if sum < 21:
        return sum
    elif num1 == 11 or num2 == 11 or num3 == 11 and sum > 21:
        return (sum-10)
    return 'BUST'

In [19]:
Blackjack(5,6,7)

18

In [24]:
Blackjack(9,9,9)

'BUST'

In [25]:
Blackjack(5,8,11)

14

In [26]:
Blackjack(4,11,9)

14

In [27]:
Blackjack(7,11,11)

19

In [31]:
def spy_game(nums):
    
    code = [0,0,7,'x']
    for num in nums:
        if num ==  code [0]:
            code.pop(0)
            
    return len(code) == 1

In [32]:
spy_game([1,2,4,0,0,7,5])

True

In [33]:
spy_game([1,7,2,0,4,5,0])

False

In [34]:
spy_game([1,0,2,4,0,5,7])

True

In [35]:
def count_of_primes(num):
    
    if num < 2:
        return 0
    
    primes = [2]
    x = 3
    
    while x <= num:
        for y in range(3,x,2):
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [36]:
count_of_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [37]:
count_of_primes(10)

[2, 3, 5, 7]

4