In [1]:
mystring = 'hello'

In [2]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [3]:
mylist

['h', 'e', 'l', 'l', 'o']

In [6]:
mylist1 = [letter for letter in mystring]

In [7]:
mylist1

['h', 'e', 'l', 'l', 'o']

In [8]:
mylist = [num for num in range(0,10)]

In [9]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
mylist = [num**2 for num in range(0,10)]

In [11]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [12]:
mynum = [x for x in range(0,10,2)]

In [13]:
mynum

[0, 2, 4, 6, 8]

In [14]:
mynum = [x for x in range(0,10) if x%2 == 0]

In [15]:
mynum

[0, 2, 4, 6, 8]

In [17]:
celsius = [0,10,30,94.5]

fahrenheit = [((9/5)*temp + 32) for temp in celsius]

In [18]:
fahrenheit

[32.0, 50.0, 86.0, 202.1]

In [21]:
result = [x if x%2 == 0  else 'ODD' for x in range(0,11)]

In [22]:
result

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [23]:
mylist = []

for x in [2,3,4]:
    for y in[100,200,300]:
        mylist.append(x*y)

In [24]:
mylist1

['h', 'e', 'l', 'l', 'o']

In [25]:
mylist

[200, 400, 600, 300, 600, 900, 400, 800, 1200]

In [26]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [27]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]