In [1]:
mylist = [1,2,3]

In [2]:
mylist.append(4)

In [3]:
mylist

[1, 2, 3, 4]

In [4]:
mylist.pop()

4

In [5]:
mylist

[1, 2, 3]

In [6]:
mylist.insert(1,4)

In [7]:
mylist

[1, 4, 2, 3]

In [16]:
def welcome():
    '''welcome to python functions'''
    print("Hello World")
    print('first python function')
    print('enjoying')

In [17]:
welcome()

Hello World
first python function
enjoying

In [18]:
def welcome_1(name):
    '''welcome to python functions with parameters'''
    print(f'Hello {name}')

In [19]:
welcome_1("World!!!")

Hello World!!!

In [14]:
def add_function(num1,num2):
    result = num1 + num2
    print(result)

In [15]:
add_function(2,3)

5

In [20]:
def add_function(num1,num2):
    return num1 + num2

In [21]:
add_function(20,30)

50

In [22]:
add_function('10','20')

'1020'

In [24]:
add_function(10,30)

40

In [25]:
2 % 2

0

In [26]:
3 % 2

1

In [27]:
21 % 2 == 0

False

In [28]:
20 % 2 == 0

True

In [29]:
def even_function(number):
    result = number % 2 == 0
    return result

In [30]:
even_function(30)

True

In [31]:
even_function(41)

False

In [32]:
def check_even_list(num_list):
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            pass

In [33]:
check_even_list([1,3,5])

In [34]:
check_even_list([2,4,6,7])

True

In [43]:
def check_even_list(num_list):
# check for all even numbers

    #placeholder variable
    even_numbers = []
        
    for number in num_list:
        if number % 2 == 0:
            even_numbers.append(number)
        else:
            pass
        
    return even_numbers

In [44]:
check_even_list([1,3,5])

[]

In [45]:
check_even_list([2,4,6,7])

[2, 4, 6]

In [46]:
#TUPLES

In [47]:
stock_prices = [('APPLE',200),('BANANA',300),('ORANGE',400)]

In [48]:
for item in stock_prices:
    print(item)

('APPLE', 200)
('BANANA', 300)
('ORANGE', 400)

In [49]:
for ticker,prices in stock_prices:
    print(ticker)

APPLE
BANANA
ORANGE

In [50]:
for ticker,prices in stock_prices:
    print(ticker)
    print(prices + (0.1)* prices)

APPLE
220.0
BANANA
330.0
ORANGE
440.0